.nav
  .nav-company-name
    %p cookpad
  .nav-search
    = form_for [@recipe], class: 'clearfix' do |f|
      .nav-search-form
        %p レシピ検索
        = f.text_field :title, row: 1, placeholder: '料理名を入力してください。', class: 'search-form'
      = f.submit '検索', class: 'search-button'
  .nav-post
    %a.nav-post-button{ href: new_recipe_path }
      %p レシピを書く
  .nav-user
    %a.nav-user-button{ href: edit_user_registration_path }
      %p 設定
  - if user_signed_in?
    .nav-login
      %p ログイン中:#{current_user.name}
  - else
    %a.nav-login{ href: new_user_session_path }
      %p 新規登録

.side-bar.clearfix
  .side-bar-recipe
  .side-bar-premium

.main.clearfix
  %p レシピ
  .main-recipes
    .main-recipes-info.clearfix
      .main-recipes-info__navi 絞り込み:<strong>すべて</strong>主食 おかず スープ お菓子 その他
      .main-recipes-info__page 次へ
      .main-recipes-info__page-next 1/312ページ
    .main-recipe.clearfix
      - @recipes.each do |recipe|
        .main-recipe__image
          =image_tag (recipe.image.to_s), size: "100x140"
        .main-recipe-right.clearfix
          %a.main-recipe-right__title
            %p=recipe.title
          .main-recipe-right__user
            %p by りょうた
          .main-recipe-right__point
            %p=recipe.point
          .main-recipe-right__materials
            - recipe.materials.each do |material|
              .main-recipe-right__materials
                %p #{material.name} 、
    .main-recipe.clearfix
      .main-recipe__image
        =image_tag ("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxN6o76TedwtQ0o4mIiJacvskggu6Lhd8NyrWKkMXIx76Cs8Mejnfy7YuK"),size: "100x140"
      .main-recipe-right.clearfix
        .main-recipe-right__title
          %p 絶品！お手軽カレー
        .main-recipe-right__user
          %p by りょうた
        .main-recipe-right__point
          %p 調理時間１０分、あとは待つだけ！
        .main-recipe-right__materials
          %p 材料： にんじん、玉ねぎ、カレー粉、牛肉、そのほか
    .main-recipe.clearfix
      .main-recipe__image
        =image_tag ("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxN6o76TedwtQ0o4mIiJacvskggu6Lhd8NyrWKkMXIx76Cs8Mejnfy7YuK"),size: "100x140"
      .main-recipe-right.clearfix
        .main-recipe-right__title
          %p 絶品！お手軽カレー
        .main-recipe-right__user
          %p by りょうた
        .main-recipe-right__point
          %p 調理時間１０分、あとは待つだけ！
        .main-recipe-right__materials
          %p 材料： にんじん、玉ねぎ、カレー粉、牛肉、そのほか

