.nav
  %a.nav-company-name{ href: recipes_path }
    %p cookpad
  .nav-search
    = form_tag search_recipes_path, method: :get do |f|
      .nav-search-form
        %p レシピ検索
        = text_field_tag :title, params[:title], class: "search-form"
        = submit_tag '検索', :title => nil, class: "search-button"
  .nav-post
    - if user_signed_in?
      %a.nav-post-button{ href: new_recipe_path }
        %p レシピを書く
  .nav-user
    %a.nav-user-button{ href: edit_user_registration_path }
      %p 設定
  - if user_signed_in?
    .nav-login
      %p ログイン中:#{current_user.name}
  - else
    %a.nav-login{ href: new_user_session_path }
      %p 新規登録

.side-bar.clearfix
  .side-bar-recipe
  .side-bar-premium

.main.clearfix
  %p レシピ
  .main-recipes
    .main-recipes-info.clearfix
      .main-recipes-info__navi 絞り込み:<strong>すべて</strong>主食 おかず スープ お菓子 その他
      .main-recipes-info__page
      .main-recipes-info__page-next= paginate(@recipes) if @recipes.length >= 5
    - @recipes.each do |recipe|
      .main-recipe.clearfix
        .main-recipe__image
          =image_tag recipe.image.to_s, size: "100x140"
        .main-recipe-right.clearfix
          %a.main-recipe-right__title{ href: recipe_path(recipe.id)}
            %p=recipe.title
          .main-recipe-right__user
            %p #{"  by  " + recipe.user.name}
          .main-recipe-right__point
            %p=recipe.point
          .main-recipe-right__materials
            %p ○材料
            - recipe.materials.each do |material|
              .main-recipe-right__materials
                .each-materials
                  %p #{material.name}
  = paginate(@recipes) if @recipes.length >= 5
