.user-page
  .user-page__pad
    .user-page__user-name
      %p #{@user.name + "のページ"}
    .user-page__likes
      .user-page__likes__headline
      %p #{@user.name + "のおすすめレシピ"}
      .user-page__likes__recipes
        .user-page__likes__recipe
          .user-page__likes__recipe-title
            %p 激ウマカレー
          .user-page__likes__recipe-image
            = image_tag "http://livedoor.blogimg.jp/news23vip/imgs/c/e/cebbf21d.jpg", size: "180x140"
          .user-page__likes__recipe-catchcopy
            %p 超簡単！！！！！超美味しい！！！
        .user-page__likes__recipe
          .user-page__likes__recipe-title
            %p 激ウマカレー
          .user-page__likes__recipe-image
            = image_tag "http://livedoor.blogimg.jp/news23vip/imgs/c/e/cebbf21d.jpg", size: "180x140"
          .user-page__likes__recipe-catchcopy
            %p 超簡単！！！！！超美味しい！！！
        .user-page__likes__recipe
          .user-page__likes__recipe-title
            %p 激ウマカレー
          .user-page__likes__recipe-image
            = image_tag "http://livedoor.blogimg.jp/news23vip/imgs/c/e/cebbf21d.jpg", size: "180x140"
          .user-page__likes__recipe-catchcopy
            %p 超簡単！！！！！超美味しい！！！

